altgraph==0.17.4 ; python_version >= "3.12" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "darwin"
packaging==24.1 ; python_version >= "3.12" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
pyasn1==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller-hooks-contrib==2024.7 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller==6.9.0 ; python_version >= "3.12" and python_version < "3.13"
pysimplegui==5.0.6 ; python_version >= "3.12" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
rsa==4.9 ; python_version >= "3.12" and python_version < "3.13"
setuptools==71.1.0 ; python_version >= "3.12" and python_version < "3.13"
