altgraph==0.17.5 ; python_version >= "3.12" and python_version < "3.13"
macholib==1.16.4 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "darwin"
packaging==26.0 ; python_version >= "3.12" and python_version < "3.13"
pefile==2024.8.26 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
pillow==12.1.0 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller-hooks-contrib==2026.0 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller==6.18.0 ; python_version >= "3.12" and python_version < "3.13"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
setuptools==82.0.0 ; python_version >= "3.12" and python_version < "3.13"
